.container {
  height: fit-content;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  box-sizing: border-box;
  gap: 48px;
}

.menu {
  flex: 1;
}

.buttons {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

